<!--
	PNG optimization.

	pngquant runs first (lossy palette quantization, the big win on flat graphics and screenshots),
	then PngOptimizerCL does a lossless pass over the result.
	Drop the pngquant processor if the site serves photographic PNGs that must stay 24 bit.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<mediopOptimize>
				<processor type="Mediop.Processors.Pipelines.MediopOptimize.ExtensionBasedOptimizer, Mediop" desc="png">
					<Extensions>png</Extensions>
					<Pipeline>mediopOptimizePng</Pipeline>
				</processor>
			</mediopOptimize>

			<mediopOptimizePng>
				<processor type="Mediop.Optimizers.Pipelines.MediopPng.PngQuantCliOptimizer, Mediop">
					<ExePath>/App_Data/Mediop Tools/pngquant/pngquant.exe</ExePath>
					<AdditionalToolArguments>--quality 65-85 --speed 3 --skip-if-larger</AdditionalToolArguments>
				</processor>

				<processor type="Mediop.Optimizers.Pipelines.MediopPng.PngOptimizer, Mediop">
					<ExePath>/App_Data/Mediop Tools/PNGOptimizer/PngOptimizerCL.exe</ExePath>
				</processor>
			</mediopOptimizePng>
		</pipelines>
	</sitecore>
</configuration>
