<!--
	GIF optimization via gifsicle. Lossless, and animation survives.

	gifsicle is not bundled with the tools download; grab a Windows build from
	https://eternallybored.org/misc/gifsicle/ and drop gifsicle.exe in the folder below.
	Without the executable this pipeline logs an error per GIF and serves the original,
	so delete this file if the site has no GIFs.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<mediopOptimize>
				<processor type="Mediop.Processors.Pipelines.MediopOptimize.ExtensionBasedOptimizer, Mediop" desc="gif">
					<Extensions>gif</Extensions>
					<Pipeline>mediopOptimizeGif</Pipeline>
				</processor>
			</mediopOptimize>

			<mediopOptimizeGif>
				<processor type="Mediop.Optimizers.Pipelines.MediopGif.GifsicleOptimizer, Mediop">
					<ExePath>/App_Data/Mediop Tools/gifsicle/gifsicle.exe</ExePath>
					<AdditionalToolArguments>--optimize=3 --careful</AdditionalToolArguments>
				</processor>
			</mediopOptimizeGif>
		</pipelines>
	</sitecore>
</configuration>
